.tac{
	text-align: center;
}
.tar{
	text-align: right;
}
.iprev{
	font-size: 30px;
}
.clear{
	clear: both;
}
.revision.checked{
	background-color: #00a65a;
	color: white;
}
.table td{
	vertical-align: middle!important;
}