*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body,html{
	margin: 0;
	padding: 0;
	min-height: 100%;
}
body{
	background: linear-gradient(to bottom,  #bfdfff 300px,#fff 100%);
	min-height: 100%;
}
a:visited{
	color: #036;
}
a:hover{
	color: #3faf0f!important;
}
a:link{
	color:#036;
}
.btn{
	margin: 10px;
	text-transform: uppercase;
	font-size: 12px!important;
	border: 1px solid #000;
	background: #036;
	color: white;
	padding: 5px 20px;
	border-radius: 5px;
}
input[type="text"],input[type="email"],input[type="password"],select{
	width: 180px;
	height: 35px;
	font-size: 14px;
	padding: 5px 8px;
	border: 1px solid #bbb;
	border-radius: 5px;
}
.tac{
	text-align: center;
}
.clear{
	clear: both;
}
#container{
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}
#main-search{
	text-align: center;
	background-color: #bfdfff;
	background: url("/r/bgmain.png") #bfdfff;
}
#main-categories{
	text-align: center;
	background-color: #006dd9;
}
#mainlogo{
	/*background: #bfdfff;
	border-radius: 500px;
	box-shadow: 0 0 20px #bfdfff;
	margin: 20px;*/
	max-width: 300px;
}
#mainlogo.searching{
	max-height: 80px;
}
#searchbox{
	-webkit-appearance:none;
	width: calc(90% - 60px);
	max-width: 640px;
	height: 38px;
	margin-bottom: 20px;
	border-radius: 5px 0 0 5px;
	border-left:2px solid #999;
	border-top:2px solid #999;
	border-bottom:2px solid #999;
	border-right:none;
	vertical-align: top;
	font-size: 16px;
	padding: 0 5px;
}
#g0{
	width: 100%;
	height: 20px;
	background: #006dd9;
	background: -moz-linear-gradient(bottom,  #006dd9 30%, #bfdfff 100%);
	background: -webkit-linear-gradient(bottom,  #006dd9 30%,#bfdfff 100%);
	background: linear-gradient(to top,  #006dd9 30%,#bfdfff 100%);
}
#g1{
	width: 100%;
	height: 40px;
	background: #006dd9;
	background: -moz-linear-gradient(top,  #006dd9 30%, #ffffff 100%);
	background: -webkit-linear-gradient(top,  #006dd9 30%,#ffffff 100%);
	background: linear-gradient(to bottom,  #006dd9 20%,#ffffff 60%);
}
#do-search{
	background-color: #fdfdfd;
	color: #999;
	width: 60px;
	font-size: 20px;
	height: 38px;
	border-radius: 0 5px 5px 0;
	border:2px solid #999;
	vertical-align: top;
}
.clr{
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-bottom: 15px;
}
.clr li{
	margin: 5px;
	display: inline-block;
}
.clr li .icon{
	width: 60px;
	height: 60px;
	border-radius: 50px;
	border: 5px solid #000;
	display: inline-block;
	overflow: hidden;
	background-color: #000;
	color: #FFF;
	padding: 5px;
	font-size: 40px;
	vertical-align: middle;
	background-size: 100%;
}
.clr li .name{
	max-width: 100px;
    display: inline-block;
    vertical-align: top;
	color: #FFF;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}
.clr li:hover .icon{
	cursor: pointer;
	background-color: #FFF;
	color: #000;
}
.blr{
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.blr li{
	width: 60px;
	height: 60px;
	margin: 5px;
	border-radius: 50px;
	border: 1px solid #000;
	display: inline-block;
	overflow: hidden;
	background-color: #FFF;
}
.blr li:hover{
	cursor: pointer;
	opacity: 0.5;
}
.blr li img{
	width: 105%;
    margin-top: -3%;
    margin-left: -3%;
}
#hsvc{
	width:calc(100% - 80px);
	float:left;
	white-space: nowrap;
	overflow-x: scroll;
}
.bps{
	width:40px;
	font-size: 30px;
	text-align: center;
	margin-top: 120px;
	line-height: 150px;
	float:left;
}
.bps:hover{
	background-color: #ebebeb;
	cursor: pointer;
}
.blp{
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.blp li{
	width: 115px;
	padding: 15px;
	display: inline-block;
	color: #004462;
}
.blp li:hover{
	color: #ffffff;
    background: #006dd9;
}
.blp .name{
	font-size: 17px;
	padding: 4px 0;
	white-space: normal;
}
.blp img{
	width: 100%;
}
.blp li:hover .bicon{
	color: #FFF;
	border-color:white; 
}
.bicon{
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 3px solid #0198dc;
	border-radius: 500px;
	padding: 3px 5px;
	font-size: 35px;
	color: #004462;
	text-align: center;
	vertical-align: middle;
}
#search-container{
	padding-bottom: 10px;
}
.search-results{
	display: none;
	border: 2px solid #999;
	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	vertical-align: middle;
	background-color: #FFF;
}
.search-results li{
	padding: 10px;
	width: 50%;
	display: inline-block;
}
.sr-logo{
	width: 70px;
	height: 70px;
	border-radius: 10px 0 0 10px;
	border:3px solid #999;
	vertical-align: middle;
}
.sr-cont{
	width: calc(100% - 75px);
	height: 70px;
	vertical-align: middle;
	border-radius: 0 10px 10px 0;
	border:3px solid #999;
	border-left: none;
	display:inline-block;
}
.sr-des{
	display:inline-block;
	width:calc(100% - 60px);
	vertical-align:middle;
	height:100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.sr-fav{
	vertical-align: middle;
	width: 40px;
	height: 40px;
	display:inline-block;
	border-radius: 10px;
	border:3px solid #999;
	margin: 0 8px;
	text-align: center;
}
.sr-fav i{
	font-size: 24px;
	line-height: 43px;
	color:#036;
}
.sr-fav i:hover{
	color:#ffb500;
}
#profile-header{
    text-align: center;
    background-color: #bfdfff;
    background: url("/r/bgmain.png") #bfdfff;
}
.media{
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0;
}
.pi{
	text-align: center;
	margin: 10px 0;
	padding: 0;
}
.pi li{
	width: 60px;
	height: 60px;
	margin: 8px;
	border-radius: 10px;
	border: 3px solid #036;
	display: inline-block;
	vertical-align: top;
	font-size: 35px;
	padding: 8px;
	overflow: hidden;
	background-color: #FFF;
	color: #000;
}
.media li{
	background-color: black;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	border: 5px solid #036;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin: 10px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	cursor: pointer;
}
.media li:hover{
	border: 5px solid #006dd9;
}
.media li img{
	width: 100%;
}
.logo{
	border: 3px solid #000;
	border-radius:25px;
	overflow: hidden;
	vertical-align: middle;
	width: 25%;
	max-width: 150px;
	display: inline-block;
	position: relative;
	left: 2%;
	z-index: 2;
}
.cover{
	border: 3px solid #000;
	border-radius:25px;
	overflow: hidden;
	vertical-align: middle;
	width: 75%;
	display: inline-block;
	position: relative;
	right: 2%;
}
.logo img,.cover img{
	max-width: 100%;
	display: block;
}
#profile-header.onlylogo .logo{
	left: 0;
}
#profile-header.onlylogo .cover{
	display: none;
}
#profile-header.onlycover .logo{
	display: none;
}
#profile-header.onlycover .cover{
	width: 95%;
}
.social{
	padding: 0;
	margin: 0;
	text-align: center;
}
.social li{
	border:3px solid #036;
	width: 45%;
	height: 350px;
	overflow: auto;
	margin: 2%;
	display: inline-block;
	background: white;
}
#register{
	width: 100%;
	padding: 0 10px;
	text-align: center;
}
#register input,#register select{
	width: 100%;
	max-width: 500px;
	margin: 5px 0;
}
.addfav{
	cursor: pointer;
	color: #036!important;
}
.addfav:hover{
	color:orange!important;
}
.addfav.isfav{
	color: #ffb500!important;
}
.noTitle .ui-dialog-titlebar {display:none!important;}
@media screen and (max-width:800px){
	.search-results li{
		width: 100%;
	}
}
@media screen and (max-width:500px){
	.search-results li{
		font-size: 12px;
	}
}
@media screen and (max-width:360px){
	#mainlogo{
		max-height: 200px;
		font-size: 18px;
	}
}